<main class="container well">
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary btn-block" ng-click="isCreatePattern(true)">Describe new pattern</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary btn-block" ng-click="isCreatePattern(false)">Run existing pattern</button>
    </div>
  </div><br><br>
  <div class="row">
    <div class="col-sm-12" ng-show="!newPattern">
      <form class="form form-inline" action="">
      <div class="form-group">
        <label for="patternSelect">Select a Pattern</label>
        <select class="form-control" name="patternSelect">
          <option ng-repeat="pattern in patternList.data" value="{{pattern.patternName}}">
            {{pattern.patternName}}
          </option>
        </select>
      </div>
      </form>
    </div>
  </div>
  <div class="row" ng-show="newPattern">
    <div class="col-sm-12">
      <form class="form" ng-submit="performSearch()">
        <uib-accordion close-others="false">
          <uib-accordion-group is-open="wordCheck.open">
            <uib-accordion-heading>
              Word based <small>(Add words to filter out the search data)</small> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wordCheck.open, 'glyphicon-chevron-right': !wordCheck.open}"></i>
            </uib-accordion-heading>
            <div class="form-group">
              <label for="whitelist">Must include</label>
              <tags-input ng-model="patternJson.whitelist" name='whitelist' replace-spaces-with-dashes="false">
                <auto-complete source="variableList"></auto-complete>
              </tags-input>
            </div>
            <div class="form-group">
              <label for="blacklist">Must exclude</label>
              <tags-input ng-model="patternJson.blacklist" name='blacklist' replace-spaces-with-dashes="false">
                <auto-complete source="variableList"></auto-complete>
                </tags-input>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="regexCheck.open">
            <uib-accordion-heading>
              Match Regular Expression <small>(Add patterns to filter out the search data)</small> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': regexCheck.open, 'glyphicon-chevron-right': !regexCheck.open}"></i>
            </uib-accordion-heading>
            <div class="form-group">
              <div ng-repeat="item in regexFields">
                 <label>Pattern {{item.value}}</label>
                 <input type="text" ng-model="patternJson.regexPatterns[item.value]" name="pattern{{item.value}}"\>
                  <span ng-show="$last">
                    <a class="btn btn-primary btn-sm" ng-click="addField()"><b>+</b></a>
                  </span>
                  <span ng-show="$last && regexFields.length>1">
                    <a class="btn btn-danger btn-sm" ng-click="removeField()"><b>-</b></a>
                  </span>
              </div>
              {{regexPatterns}}
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="wikiCheck.open">
            <uib-accordion-heading>
              <span ng-click="refreshSlider(wikiCheck.open)">Wikidata PageViews <small>(in thousands)</small> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wikiCheck.open, 'glyphicon-chevron-right': !wikiCheck.open}"></i></span>
            </uib-accordion-heading>
            <div class="form-group">
              <rzslider rz-slider-model="patternJson.wikiRange.min" rz-slider-high="patternJson.wikiRange.max" rz-slider-options="patternJson.wikiRange.options"></rzslider>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="gTrendsCheck.open">
            <uib-accordion-heading>
              <span ng-click="refreshSlider(gTrendsCheck.open)">Google Trends <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': gTrendsCheck.open, 'glyphicon-chevron-right': !gTrendsCheck.open}"></i></span>
            </uib-accordion-heading>
            <div class="form-group">
              <rzslider rz-slider-model="patternJson.gTrendsRange.min" rz-slider-high="patternJson.gTrendsRange.max" rz-slider-options="patternJson.gTrendsRange.options"></rzslider>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="usageCheck.open">
            <uib-accordion-heading>
              <span ng-click="refreshSlider(usageCheck.open)">Usage <small>(Number of times this question has been asked)</small><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': usageCheck.open, 'glyphicon-chevron-right': !usageCheck.open}"></i><span>
            </uib-accordion-heading>
            <div class="form-group">
              <rzslider rz-slider-model="patternJson.usageRange.min" rz-slider-high="patternJson.usageRange.max" rz-slider-options="patternJson.usageRange.options"></rzslider>
            </div>
          </uib-accordion-group>
          <uib-accordion-group is-open="correctCheck.open">
            <uib-accordion-heading>
              <span ng-click="refreshSlider(correctCheck.open)">Correctness <small>(Number of times the players have got the answer right)</small><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': correctCheck.open, 'glyphicon-chevron-right': !correctCheck.open}"></i></span>
            </uib-accordion-heading>
            <div class="form-group">
              <rzslider rz-slider-model="patternJson.correctRange.min" rz-slider-high="patternJson.correctRange.max" rz-slider-options="patternJson.correctRange.options"></rzslider>
            </div>
          </uib-accordion-group>
        </uib-accordion>
        <!--<div class="checkbox">
          <label>
            <input type="checkbox" ng-model="patternJson.searchIn.all" ng-click="changeSelection(0)">All
          </label>
          <label>
            <input type="checkbox" ng-model="patternJson.searchIn.ques" ng-click="changeSelection(1)">Questions
          </label>
          <label>
            <input type="checkbox" ng-model="patternJson.searchIn.top" ng-click="changeSelection(1)">Topics
          </label>
          <label>
            <input type="checkbox" ng-model="patternJson.searchIn.cat" ng-click="changeSelection(1)">Categories
          </label>
        </div>-->
        <div class="form-group text-center">
          <input class="btn btn-success btn-block" type="submit" value="Hit Me!"></input>
        </div>
        {{patternJson | json}}
      </form>
      <button type="button" class="btn btn-info" ng-click="onSavePattern()">Save Pattern</button>
    </div>
  </div>
  <br>
  <div ng-include="'QuestionDisplay.html'"></div>
  <div id="pageNo" class="row" ng-hide="!questions.length">
    <!-- Pagination and Page Tracker are generated by Paging plugin in client side. -->
    <div paging page="currentPage" page-size="selectedRowCount" total="totalQuestions"
    text-first="<<"
    text-last=">>"
    text-next=">"
    text-prev="<"
    show-prev-next="true"
    show-first-last="true"
    ul-class="pagination col-sm-8 col-xs-6"
    paging-action="onPageclick(page)">
    </div>
    <p class="pageTracker col-sm-4 col-xs-6">
      Showing {{firstQuestion + 1}} to {{lastQuestion}} of {{totalQuestions}} Questions
    </p>
  </div>

  <script type="text/ng-template" id="tempModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Give a name</h3>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <input type="text" ng-model="patternName"/>
      </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </script>

</main>
