<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">{{QuestionPaperName}}</h4>
</div>
<div class="modal-body">

  <div class="form-group">
    <label for="QuestionPaperName">Name: </label><strong class="required text-danger">*</strong>
    <input type="text" class="form-control" name="QuestionPaperName" ng-model="QuestionPaperName" value={{QuestionPaper.Name}} required>
    </input>
  </div>

  <div class="wrap">
    <div class="form-inline">
      <label for="topicId">Topics:</label><br/>
      <div ng-if="QuestionPaper.topics.length > 0" ng-repeat="topic in QuestionPaper.topics" class="well well-sm topics">
        {{topic}}
      </div>
    </div>
  </div>

  <table class="table table-bordered" ng-hide="!Questions.length">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody class="table">
      <tr ng-repeat="Question in Questions">
        <td><input type="checkbox" align="left"></td>
        <td>{{Question.question}}</td>
      </tr>
    </tbody>
  </table>
</div>
