<div id="questionContainer" class="row">
  <table id="questionList" class="table table-bordered table-responsive table-hover">
    <div ng-if="!questions.length">
      <h1>Sorry. No Questions to display.</h1>
    </div>
    <thead ng-hide="!questions.length">
      <tr>
        <th><input type="checkbox" ng-model="quesSelected[0]" ng-click="selectQuestion(quesSelected[0], 0)"></th>
        <th>Question</th>
        <th>Topics</th>
        <th>Categories</th>
        <th ng-click="onSortClick('difficultyLevel')">
          <a href="#">
            Difficulty Level
            <span ng-show="sortType == 'difficultyLevel' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'difficultyLevel' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th ng-click="onSortClick('timesUsed')">
          <a href="#">
            Times Used
            <span ng-show="sortType == 'timesUsed' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'timesUsed' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th ng-click="onSortClick('correctRatio')">
          <a href="#">
            Correct Ratio
            <span ng-show="sortType == 'correctRatio' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'correctRatio' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th ng-click="onSortClick('frequency')">
          <a href="#">
            Frequecy per Day
            <span ng-show="sortType == 'frequency' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'frequency' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th width='9%'>
          <a ng-click="onSortClick('lastEdited')" href="#">
            Last Edited
            <span ng-show="sortType == 'lastEdited' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'lastEdited' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a> <br/> --------------- <br/>
          <a ng-click="onSortClick('createdOn')" href="#">
            Created On
            <span ng-show="sortType == 'createdOn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            <span ng-show="sortType == 'createdOn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="question-row" ng-repeat="x in questions">
        <td><input type="checkbox" ng-click="selectQuestion(quesSelected[$index+1], $index+1, x.questionId)" ng-model="quesSelected[$index+1]"></td>
        <td class="question">{{x.question}}</td>
        <td>{{x.topics}}</td>
        <td>{{x.categories}}</td>
        <td>{{x.difficultyLevel}}</td>
        <td>{{x.timesUsed}}</td>
        <td>{{x.correctRatio}}</td>
        <td>{{x.frequency}}</td>
        <td>{{dateFormater(x.lastEdited) | date:'MM/dd/yyyy'}}
          <br/> -------------- <br/>
          {{dateFormater(x.createdOn) | date:'MM/dd/yyyy'}}</td>
        <td width='7%'>
          <button type="button" class="btn btn-xs btn-default command-edit" ng-click="onEditClick($index)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button type="button" class="btn btn-xs btn-default command-delete" ng-click="onDeleteClick($index)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
