<main class="container">
  <div id="well questionContainer" class="row">
    <table id="questionList" class="table table-bordered table-responsive table-hover">
      <thead align="center" ng-hide="!QuestionPapers.length">
        <tr>
          <th><input type="checkbox" ng-model="quesSelected[0]" ng-click="selectQuestion(quesSelected[0], 0)"></th>
          <th>Name</th>
          <th>Topics</th>
          <!-- <th>Picked in tournament</th> -->
          <th width='9%'>
            <a ng-click="onSortClick('lastEdited')" href="#">
              Last Edited
              <span ng-show="sortType == 'lastEdited' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'lastEdited' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </a> <br/> --------------- <br/>
            <a ng-click="onSortClick('createdOn')" href="#">
              Created On
              <span ng-show="sortType == 'createdOn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'createdOn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </a>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="questionPaper in QuestionPapers" ng-class="{pickedInTournament : questionPaper.IsPickedInTournament, notPickedInTournament : !questionPaper.IsPickedInTournament}">
          <th><input type="checkbox" ng-model="quesSelected[0]" ng-click="selectQuestion(quesSelected[0], 0)"></th>
          <th>{{questionPaper.Name}}</th>
          <th>{{questionPaper.topics.join(', ')}}</th>
          <th>{{questionPaper.LastEditOn}}</th>
          <td width='7%'>
            <button type="button" class="btn btn-xs btn-default command-edit" ng-click="onEditClick($index)" title="Edit Question Paper">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-xs btn-default command-delete" ng-click="onDeleteClick($index)" ng-disabled = "{{questionPaper.IsPickedInTournament}}" title="{{questionPaper.IsPickedInTournament ? 'Question Paper used in a Tournament cannot be deleted' : 'Delete Question Paper'}}">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot class="tableFooter">
        <tr>
          <td colspan="100%">
            <div class="foo pickedInTournament pull-right"> Picked In Tournament </div>
            <div class="foo notPickedInTournament pull-right"> Not Picked In Tournament </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</main>
