<main class="container">
  <div id="well questionContainer" class="row">
    <div>
      <h1 ng-if="!QuestionPapers.length">Sorry :'(. No Question Papers to display!</h1>
      <h1 ng-if="QuestionPapers.length">Question Papers</h1>
    </div>

    <table id="questionList" class="table table-bordered table-responsive" ng-hide="!QuestionPapers.length">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Topics</th>
          <th>Edit/Delete Question Paper</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="questionPaper in QuestionPapers | orderBy : 'Name'" ng-class="{pickedInTournament : questionPaper.IsPickedInTournament, notPickedInTournament : !questionPaper.IsPickedInTournament}">
          <td><input type="checkbox" align="left" ng-model="quesSelected[0]" ng-click="selectQuestion(quesSelected[0], 0)"></td>
          <td>{{questionPaper.Name}}</td>
          <td>{{questionPaper.topics.join(', ')}}</td>
          <td width='9%'>
            <button type="button" class="btn btn-xs btn-default command-edit"  ng-click ="onEditClick($index)" title="Edit Question Paper">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-xs btn-default command-delete" ng-click ="onQuestionPaperDelete($index)" ng-disabled = "{{questionPaper.IsPickedInTournament}}" title="{{questionPaper.IsPickedInTournament ? 'Question Paper used in a Tournament cannot be deleted' : 'Delete Question Paper'}}">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot class="tableFooter">
        <tr>
          <td colspan="100%">
            <div class="foo pickedInTournament pull-right"> Picked In Tournament </div>
            <div class="foo notPickedInTournament pull-right"> Not Picked In Tournament </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</main>
