  <main class="container">
    <div class="well nga-fast nga-stagger-fast nga-slide-right" ng-hide="isPattern||isBasic">
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-primary btn-block btn-landing" ng-click="selectBasic(true)">
            <span class="glyphicon glyphicon-search"></span> Basic search
          </button>
          <br>
          <button class="btn btn-danger btn-block btn-landing" ng-click="selectBasic(false)">
            <span class="glyphicon glyphicon-flash"></span>Pattern Search
          </button>
          <br/>
          <a class="btn btn-success btn-block btn-landing anchorButton" href="/#QuestionPaperManager">
            <span class="glyphicon glyphicon-th-list"></span> Manage Question Papers
          </a>
        </div>
      </div>
    </div>
    <div class="well nga-default nga-stagger-slow nga-slide-left" ng-show="isPattern" ng-controller="pattern">
      <div class="row">
        <div class="col-sm-6">
          <button class="btn btn-primary btn-block" ng-click="isCreatePattern(true)">Describe new pattern</button>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-success btn-block" ng-click="isCreatePattern(false)">Run existing pattern</button>
        </div>
      </div><br>
      <div class="row nga-fast nga-stagger nga-fade" ng-show="!newPattern">
        <div class="col-sm-12">
          <form class="form form-inline" action="">
          <div class="form-group">
            <label for="patternSelect">Select a Pattern</label>
            <select class="form-control" name="patternSelect">
              <option ng-repeat="pattern in patternList.data" value="{{pattern.patternName}}">
                {{pattern.patternName}}
              </option>
            </select>
          </div>
          </form>
        </div>
      </div>
      <div class="row nga-default nga-stagger nga-slide-left" ng-show="newPattern">
        <div ng-hide="isRun" class="col-sm-12 nga-fast nga-slide-right">
          <form class="form" ng-submit="performSearch()">
            <uib-accordion close-others="true">
              <uib-accordion-group is-open="wordCheck.open">
                <uib-accordion-heading>
                  Word based <small>(Add words to filter out the search data)</small> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wordCheck.open, 'glyphicon-chevron-right': !wordCheck.open}"></i>
                </uib-accordion-heading>
                <div class="form-group">
                  <label for="whitelist">Must include</label>
                  <tags-input ng-model="patternJson.whitelist" name='whitelist' replace-spaces-with-dashes="false">
                    <auto-complete source="variableList"></auto-complete>
                  </tags-input>
                </div>
                <div class="form-group">
                  <label for="blacklist">Must exclude</label>
                  <tags-input ng-model="patternJson.blacklist" name='blacklist' replace-spaces-with-dashes="false">
                    <auto-complete source="variableList"></auto-complete>
                    </tags-input>
                </div>
              </uib-accordion-group>
              <uib-accordion-group is-open="regexCheck.open">
                <uib-accordion-heading>
                  Match Regular Expression <small>(Add patterns to filter out the search data)</small> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': regexCheck.open, 'glyphicon-chevron-right': !regexCheck.open}"></i>
                </uib-accordion-heading>
                <div class="form-group">
                  <div ng-repeat="item in regexFields">
                     <label>Pattern {{item.value}}</label>
                     <input type="text" ng-model="patternJson.regexPatterns[item.value]" name="pattern{{item.value}}"\>
                      <span ng-show="$last">
                        <a class="btn btn-primary btn-sm" ng-click="addField()"><b>+</b></a>
                      </span>
                      <span ng-show="$last && regexFields.length>1">
                        <a class="btn btn-danger btn-sm" ng-click="removeField()"><b>-</b></a>
                      </span>
                  </div>
                  {{regexPatterns}}
                </div>
              </uib-accordion-group>
              <uib-accordion-group is-open="wikiCheck.open">
                <uib-accordion-heading>
                  <span ng-click="refreshSlider(wikiCheck.open)">Wikidata PageViews <small>(in thousands)</small> <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': wikiCheck.open, 'glyphicon-chevron-right': !wikiCheck.open}"></i></span>
                </uib-accordion-heading>
                <div class="form-group">
                  <rzslider rz-slider-model="patternJson.wikiRange.min" rz-slider-high="patternJson.wikiRange.max" rz-slider-options="patternJson.wikiRange.options" ng-click="onChange(patternJson.wikiRange.options.id)"></rzslider>
                </div>
              </uib-accordion-group>
              <uib-accordion-group is-open="googleCheck.open">
                <uib-accordion-heading>
                  <span ng-click="refreshSlider(googleCheck.open)">Google Trends <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': googleCheck.open, 'glyphicon-chevron-right': !googleCheck.open}"></i></span>
                </uib-accordion-heading>
                <div class="form-group">
                  <rzslider rz-slider-model="patternJson.googleRange.min" rz-slider-high="patternJson.googleRange.max" rz-slider-options="patternJson.googleRange.options" ng-click="onChange(patternJson.googleRange.options.id)"></rzslider>
                </div>
              </uib-accordion-group>
              <uib-accordion-group is-open="usageCheck.open">
                <uib-accordion-heading>
                  <span ng-click="refreshSlider(usageCheck.open)">Usage <small>(Number of times this question has been asked)</small><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': usageCheck.open, 'glyphicon-chevron-right': !usageCheck.open}"></i><span>
                </uib-accordion-heading>
                <div class="form-group">
                  <rzslider rz-slider-model="patternJson.usageRange.min" rz-slider-high="patternJson.usageRange.max" rz-slider-options="patternJson.usageRange.options" ng-click="onChange(patternJson.usageRange.options.id)"></rzslider>
                </div>
              </uib-accordion-group>
              <uib-accordion-group is-open="correctCheck.open">
                <uib-accordion-heading>
                  <span ng-click="refreshSlider(correctCheck.open)">Correctness <small>(Number of times the players have got the answer right)</small><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': correctCheck.open, 'glyphicon-chevron-right': !correctCheck.open}"></i></span>
                </uib-accordion-heading>
                <div class="form-group">
                  <rzslider rz-slider-model="patternJson.correctRange.min" rz-slider-high="patternJson.correctRange.max" rz-slider-options="patternJson.correctRange.options" ng-click="onChange(patternJson.correctRange.options.id)"></rzslider>
                </div>
              </uib-accordion-group>
            </uib-accordion>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="patternJson.wikiFlag">WikiData
              </label>
              <label>
                <input type="checkbox" ng-model="patternJson.googleFlag">Google Rank
              </label>
              <label>
                <input type="checkbox" ng-model="patternJson.usageFlag">Usage
              </label>
              <label>
                <input type="checkbox" ng-model="patternJson.correctFlag">Correctness
              </label>
            </div>
            <div class="form-group text-center">
              <input class="btn btn-success btn-block" type="submit" value="{{submitButton}}"></input>
            </div>
          </form>
        </div>
        <div ng-show="isRun" class="col-sm-12 nga-fast nga-slide-left">
          <h3>Your pattern setting:</h3>
          <div class="row">
            <div class="col-sm-6">
              Include words:
                <span ng-repeat="element in patternJson.whitelist">{{element.text}} </span><br>
              Exclude words: <span ng-repeat="element in patternJson.blacklist">{{element.text}}</span><br>
              <span ng-if="patternJson.wikiFlag">
                WikiData range: {{patternJson.wikiRange.min}} to {{patternJson.wikiRange.max}}<br>
              </span>
            </div>
            <div class="col-sm-6">
              <span ng-if="patternJson.googleFlag">
                Google Rank range: {{patternJson.googleRange.min}} to {{patternJson.googleRange.max}}<br>
              </span>
              <span ng-if="patternJson.usageFlag">
                Usage range: {{patternJson.usageRange.min}} to {{patternJson.usageRange.max}}<br>
              </span>
              <span ng-if="patternJson.correctFlag">
                Correctness range: {{patternJson.correctRange.min}} to {{patternJson.correctRange.max}}<br>
              </span>
            </div>
          </div><br>
          <div class="row">
            <div class="col-sm-2"><button class="btn btn-warning btn-block" ng-click="isRun=false">Edit Pattern</button></div>
            <div class="col-sm-2"><button type="button" class="btn btn-info btn-block" ng-click="onSavePattern()">Save Pattern</button></div>
          </div>
        </div>
      </div>
      <br>

      <script type="text/ng-template" id="tempModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Give a name</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="text" ng-model="patternName"/>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </script>

    </div>

    <div id="search" class="well row nga-default nga-stagger-slow nga-slide-left allow-overflow" ng-show="!isPattern && isBasic">
      <form id="searchForm" class="col-sm-9 col-xs-9" ng-submit="onSearch()">
        <input name="searchText" id="searchText" ng-model="searchText" class="col-sm-7 col-xs-7" placeholder="Search using Keywords, Topics, Category" type="text" />
        <button type="button" class="btn btn-success col-sm-2 col-xs-2" ng-click="onSearch()" name="button"><span class="glyphicon glyphicon-search"></span> Search</button>
        <button type="reset" class="btn btn-default col-sm-2 col-xs-2" ng-click="onReset()"><span class="glyphicon glyphicon-remove"></span> Clear </button>
      </form>
      <div id='noOfQuestions' uib-dropdown class='col-sm-3 col-xs-3 actionBar'>
        <button uib-dropdown-toggle class="btn btn-default" type="button">
          {{noOfQuestions[selectedRowCountIndex]}}
          <span class="caret"></span></button>
          <ul uib-dropdown-menu >
            <li class="noofRows" ng-repeat="x in noOfQuestions" ng-click="noOfRowChange(x, $index)">
              <a href>{{x}}</a>
            </li>
          </ul>
          <button type="button" ng-show="deleteIds.length > 0 || querydelete" ng-click="deleteSelected()" name="button" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
        <form class="col-sm-7 col-xs-7 checkbox">
          <label>
            <input type="checkbox" ng-model="searchIn.all" ng-click="changeSelection(0)">All
          </label>
          <label>
            <input type="checkbox" ng-model="searchIn.ques" ng-click="changeSelection(1)">Questions
          </label>
          <label>
            <input type="checkbox" ng-model="searchIn.top" ng-click="changeSelection(1)">Topics
          </label>
          <label>
            <input type="checkbox" ng-model="searchIn.cat" ng-click="changeSelection(1)">Categories
          </label>
           <button type="button" class="btn btn-primary" ng-click="showMoreSearchOptions= !showMoreSearchOptions" name="button"><span class="glyphicon glyphicon-tasks"></span> More Search Options</button>
          </label>
        </form>

        <form class="form row col-sm-12 col-xs-12" role="form">

          <div id="metaData" ng-show="showMoreSearchOptions">
          <hr>
           
           <div id="difficultyLevel" class="form-group col-sm-2 col-xs-2"> 
             DifficultyLevel: 
             <span id="DifficultyLevelHelper" popover-title="Difficulty Level Of Questions" uib-popover-html="difficultyLevelHelperHtml" popover-placement="right" popover-append-to-body="true" popover-trigger="mouseenter" class="glyphicon glyphicon-question-sign"> </span>
             <span class="tooltipWrap" uib-tooltip="Enter 0 to Disable DifficultyLevel in Search" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-enable="searchWith.difficultyLevelValue">
                <select class="form-control" ng-model="searchWith.difficultyLevelValue" ng-options="opt for opt in difficultyLevels"> </select>
             </span>
           </div>

           <div id="wikiLevel" class="form-group col-sm-2 col-xs-2"> 
              WikiPedia Rank:
              <span id="WikiHelper" uib-popover-html="wikiHelperHtml" popover-title="Wiki Rank Of Questions" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true" class="glyphicon glyphicon-question-sign"> </span>
              <span class="tooltipWrap" uib-tooltip="Enter 0 to Disable Wiki Rank in Search" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-enable="currentWikiLevel">
                <select class="form-control" ng-model="currentWikiLevel" ng-options="opt for opt in difficultyLevels" ng-change="rangeSelected('wiki')">  </select>
              </span>
           </div>
          
           <div id = "GoogleLevel" class="form-group col-sm-2 col-xs-2" > 
             GoogleTrend Rank:
            <span id="GoogleHelper" uib-popover-html="googleHelperHtml" popover-title="Google Rank of Questions" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true" class="glyphicon glyphicon-question-sign"> </span>
            <span class="tooltipWrap" uib-tooltip="Enter 0 to Disable GoogleRank in Search" tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-enable="currentGoogleLevel">
              <select class="form-control" ng-model="currentGoogleLevel" ng-options="opt for opt in difficultyLevels" ng-change="rangeSelected('google')"></select>
            </span>
           </div>

         </div> <!-- End of MetaData-->
        </form>

        <!-- <button type="button" ng-click="buttonclick()" class="pull-right">More Questions</button> -->

        <!-- <button type="button" ng-click="questionpaper()" class="pull-right">Questionpaper</button> -->
    </div>
      <div class="questions nga-default nga-slide-up" ng-show="isPattern || isBasic">
        <div id="questionContainer" class="row">
          <div ng-if="!questions.length">
            <h1>Sorry. No Questions to display.</h1>
          </div>
          <table id="questionList" ng-hide="!questions.length" class="table table-hover table-responsive nga-default nga-stagger nga-slide-up">
            <thead>
              <tr>
                <th><input type="checkbox" ng-model="quesSelected[0]" ng-click="selectQuestion(quesSelected[0], 0)"></th>
                <th>Question</th>
                <th>Topics</th>
                <th>Categories</th>
                <th ng-click="onSortClick('difficultyLevel')">
                  <a href="#">
                    Difficulty Level
                    <span ng-show="sortType == 'difficultyLevel' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'difficultyLevel' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th ng-click="onSortClick('timesUsed')">
                  <a href="#">
                    Times Used
                    <span ng-show="sortType == 'timesUsed' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'timesUsed' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th ng-click="onSortClick('correctRatio')">
                  <a href="#">
                    Correct Ratio
                    <span ng-show="sortType == 'correctRatio' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'correctRatio' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th ng-click="onSortClick('frequency')">
                  <a href="#">
                    Frequecy per Day
                    <span ng-show="sortType == 'frequency' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'frequency' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th ng-click="onSortClick('wikiPageView')">
                  <a href="#">
                    Wiki Pageview
                    <span ng-show="sortType == 'wikiPageView' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'wikiPageView' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th ng-click="onSortClick('googleResultScore')">
                  <a href="#">
                    Google Score
                    <span ng-show="sortType == 'googleResultScore' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'googleResultScore' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>

                <th width='9%'>
                  <a ng-click="onSortClick('lastEdited')" href="#">
                    Last Edited
                    <span ng-show="sortType == 'lastEdited' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'lastEdited' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a> <br/> --------------- <br/>
                  <a ng-click="onSortClick('createdOn')" href="#">
                    Created On
                    <span ng-show="sortType == 'createdOn' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="sortType == 'createdOn' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                  </a>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr class="question-row" ng-repeat="x in questions">
                <td><input type="checkbox" ng-click="selectQuestion(quesSelected[$index+1], $index+1, x.questionId)" ng-model="quesSelected[$index+1]"></td>
                <td class="question">{{x.question}}</td>
                <td>{{x.topics}}</td>
                <td>{{x.categories}}</td>
                <td>{{x.difficultyLevel}}</td>
                <td>{{x.timesUsed}}</td>
                <td>{{x.correctRatio}}</td>
                <td>{{x.frequency}}</td>
                <td>{{x.wikiPageView}}</td>
                <td>{{x.googleResultScore}}</td>
                <td>{{dateFormater(x.lastEdited) | date:'MM/dd/yyyy'}}
                  <br/> -------------- <br/>
                  {{dateFormater(x.createdOn) | date:'MM/dd/yyyy'}}</td>
                <td width='7%'>
                  <button type="button" class="btn btn-xs btn-default command-edit" ng-click="onEditClick($index)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button type="button" class="btn btn-xs btn-default command-delete" ng-click="onDeleteClick($index)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="pageNo" class="row" ng-hide="!questions.length">
          <!-- Pagination and Page Tracker are generated by Paging plugin in client side. -->
          <div paging page="currentPage" page-size="selectedRowCount" total="totalQuestions"
          text-first="<<"
          text-last=">>"
          text-next=">"
          text-prev="<"
          show-prev-next="true"
          show-first-last="true"
          ul-class="pagination col-sm-8 col-xs-6"
          paging-action="onPageclick(page)">
          </div>
          <p class="pageTracker col-sm-4 col-xs-6">
            Showing {{firstQuestion + 1}} to {{lastQuestion}} of {{totalQuestions}} Questions
          </p>
        </div>
      </div>
    </main>
